<% content_for :title, 'Exercises' %>

<% content_for :header_content do %>
  <div role=group>
    <a href= <%= workouts_path(Current.user) %> role=button>Workouts</a>
    <a href= <%= new_exercise_path(Current.user) %> role=button>New</a>
  </div>
<% end %>

<% @exercises.each do |exercise| %>
  <article>
    <h2><%= exercise.name %></h2>
  </article>
<% end %>
