<% content_for :title, "Add Email" %>

<form action="<%= settings_send_code_path %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="email" name="email" placeholder="alice@example.com" required>
  <button>send otp</button>
</form>

