body {
  header {
    gap: 0.5rem;
    padding-bottom: var(--spacing-vertical);
  }

  main {
    gap: 1rem;

    fieldset {
      gap: 1rem;
    }
  }
}

.mt-xxl {
  margin-top: 4rem;
}

.pr-xl {
  padding-right: 2rem;
}

