<turbo-stream action="replace" target="<%= dom_id(@exercise, "sets") %>">
  <template>
    <turbo-frame id="<%= dom_id(@exercise, "sets") %>">
      <% remaining = @exercise.exercise_sets.order(:position) %>
      <% if remaining.any? %>
        <table>
          <thead>
            <tr>
              <th scope="col">Set</th>
              <th scope="col">Reps</th>
              <th scope="col">Weight</th>
              <th scope="col"><span aria-label="Actions">–</span></th>
            </tr>
          </thead>
          <tbody>
            <% remaining.each_with_index do |set, i| %>
              <%= render "sets/set", set: set, index: i + 1 %>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </turbo-frame>
  </template>
</turbo-stream>
