<%= form_with model: [workout, exercise],
               url: create_exercise_path(Current.user, workout),
               data: { turbo_frame: "exercises" } do |f| %>
  <% if exercise.errors.any? %>
    <ul role="list">
      <% exercise.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>

  <fieldset>
    <legend>Add exercise</legend>

    <label for="exercise_name">Name</label>
    <%= f.text_field :name,
          id: "exercise_name",
          placeholder: "e.g. Squat",
          required: true,
          autocomplete: "off" %>

    <%= f.submit "Add exercise" %>
  </fieldset>
<% end %>
